.top-bar {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: #ffffff;
}

.sp {
    margin-left: 5%;
}

.sp:hover {
    box-shadow: 2px 3px 6px rgb(9, 172, 9);
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    text-align: center;
}

.a {
    color: white;
}

.hidden {
    display: none;
}

.foot {
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 5%;
    color: white;
    background-color: black;
    opacity: 85%;
}

.header {
    width: 100%;
    height: fit-content;
}

.header_pic {
    background-color: #5c5c5c;
    color:white;
}

.closed-nav {
    display: none;
    height: 100%;
    width: 10%;
}

@keyframes fade-it {
    0% {opacity: 5%}
    50% {opacity: 50%}
    100% {opacity: 100%;}
}

.fade-section{
    animation-name: fade-it;
    animation-duration: 2s;
}

.div-proj {
    animation: 1.2s menu-anim;
}

@keyframes menu-anim {
    from {display: none; width:0%; height:0%;}
    to {display: block; width:17%; height: 100%; opacity:80%; color:white; background-color: black;}
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}